{
  "all": true,
  "reporter": [
    "html",
    "text",
    "json-summary"
  ],
  "statements": 70,
  "lines": 70,
  "branches": 70,
  "functions": 70,
  "exclude": [
    "test/**/*.js",
    "coverage"
  ]
}